<div class="col-md-4">
  <div class="card my-2">
    <a href="{% url 'detail' post.slug %}">
      <img
        src="{{post.image.url}}"
        class="card-img-top"
        alt="{{post.description}}"
      />
    </a>
    <div class="card-body">
      <p class="card-text">{{post.description}}</p>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if post.user == request.user %}
          <a href="" type="button" class="btn btn-sm btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>

      <div class="row justify-content-start align-items-center">
        <div class="col">
          <p class="card-text">
            <span class="text-muted">Posted by: </span>{{user.username}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
